header{
    text-align: center;
    display: block;
    margin: 5px ;
    border: 2px solid rgb(8, 8, 8);
    width: auto;
    height: auto;
    padding: 15px;
    background-color: rgb(0, 255, 55);
    background-size :950px;
    background-repeat: no-repeat ;
    background-position:center ;
    background-image:url(Perigord.jpg);
}



body{
    margin:10px ;
    border: 2px solid rgb(240, 7, 7);
    width: auto;
    height: auto;
    padding: 15px;
    background-color: rgb(177, 167, 36);
    
}
video {
    display: block;
    margin: 20px auto;
    border: 2px solid salmon;
    border right: 2px ;
    max-width: 100%;
    height: auto;
    padding: 15px;
    background-color: rgb(177, 167, 36);


}

table{border:2px solid black

}

td
{ text-align: center;

}
.lastP {
    text-align: center;
}
img {
    display: inline-block;
    border: 2px solid salmon;
    width: 100px;
    height: 100px ;
    padding: 0px;
    margin: 15px;


}

footer{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    border: 2px solid rgb(240, 7, 7);

}

footer:hover::after {

    content: "Tous droits Réserver";
    color: rgb(0, 102, 128);
    font-size: 75%;
}